<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <!-- <p class="author-bio">{{ site.author.bio }}</p> -->

  <div class="content">
    <p class="content__text">intro =</p>

    <ul class="content__list">
      <p class="content__list__item">"{{ site.author.bio }}"</p>
      <p class="content__list__item">"frontend"</p>
      <p class="content__list__item">"ML/DL"</p>
      <p class="content__list__item">"devops"</p>
    </ul>
  </div>
</div>
