<!-- unnecessary file, however you can still use for comment section, e.g disqus -->
<script src="https://giscus.app/client.js"
        data-repo="froggydisk/comment-manager"
        data-repo-id="R_kgDOG7o-zQ"
        data-category="Announcements"
        data-category-id="DIC_kwDOG7o-zc4CN6cA"
        data-mapping="pathname"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
