---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404">
  <div class="not-found">
    <h1 class="title">404</h1>
    <p class="phrase">Page not found</p>
    <a class="solution" href="/">Go home</a>
  </div>
</BaseLayout>
