---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Dr.frog">
  <header class="header">
    <h1 class="header-title">Dr.frog</h1>
  </header>

  <div class="page-content">
    <p>I have experience participating in IT product development at multiple start-ups as a software engineer. My diverse background, including QA, server infrastructure setup, and AI model development, has given me a comprehensive understanding of the development process. With a commitment to continuous learning and a creative problem-solving mindset, I strive to enhance innovative and user-friendly applications through collaboration across various platforms.</p>

    <p><strong>Current Field</strong></p>
    <ul>
      <li>Frontend (Web, App)</li>
      <li>DevOps (Kubernetes & real-time streaming services)</li>
      <li>ML/DL</li>
    </ul>

    <p><strong>My Interests</strong></p>
    <ul>
      <li>Generalist Medical AI</li>
      <li>javascript 3D</li>
    </ul>

    <p><strong>Contact</strong></p>
    <ul>
      <li>sewoomkim93@gmail.com</li>
      <li><a href="https://github.com/froggydisk">github.com/froggydisk</a></li>
    </ul>
  </div>
</BaseLayout>
